# Core Data Science
pandas>=2.2.0
numpy>=1.26.4
matplotlib>=3.8.3
seaborn>=0.13.2
scikit-learn>=1.4.1

# Notebook Support
ipykernel>=6.29.3
jupyterlab>=4.1.2
notebook>=7.1.1

# Utilities
joblib>=1.3.2